<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Office_display.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="pda_connectionstring" value="Driver={PostgreSQL UNICODE};Server=localhost;Database=scs_eles;Uid=postgres;Pwd="/>
      <!--add key="pda_connectionstring" value="Driver={PostgreSQL UNICODE};Server=10.70.10.111;Port=5432;Database=scs_eles;Uid=postgres;Pwd=LauraStar2017;"/-->
      <add key="prod_connectionstring" value="Server=lahuv2k16-sqlp;Database=production;User Id=prod;Password="/>
      <add key="repair_connectionstring" value="Server=lahuv2k16-sqlp;Database=repair;User Id=rep;Password="/>
      <add key="amplio_connectionstring" value="Persist Security Info=False;User Id=prod;Database=amplio;Server=lahuv2k16-sqlp;Password="/>
      <add key="mes_connectionstring" value="Server=lahuv2k19-sql01;Database=production;User Id=MES_DATA_READ;Password="/>
      <add key ="EOL_tested_items" value="SELECT COUNT(DISTINCT Parts.serialNumber) AS tested_count, Parts.itemCode FROM [amplio].[dbo].Parts, [amplio].[dbo].TestResults WHERE Parts.partID = TestResults.partID AND TestResults.testGood = 1 AND TestResults.startTime BETWEEN @start_date AND @end_date AND TestResults.testEquipmentID = 3 AND Parts.itemCode =@model GROUP BY Parts.itemCode;"/>
      <add key ="currently_EOL_tested_model" value ="SELECT TOP 1 [amplio].[dbo].Parts.itemCode, [amplio].[dbo].Parts.serialNumber FROM [amplio].[dbo].Parts, [amplio].[dbo].TestResults WHERE TestResults.partID = Parts.partID AND TestResults.testEquipmentID = 3 AND TestResults.testGood = 1 AND TestResults.startTime BETWEEN @start_date AND @end_date ORDER BY TestResults.startTime DESC;"/>
      <add key ="tested_models" value ="SELECT Parts.itemCode, COUNT(DISTINCT Parts.serialNumber) AS qty FROM [amplio].[dbo].Parts, [amplio].[dbo].TestResults WHERE Parts.partID = TestResults.partID AND TestResults.testGood = 1 AND TestResults.startTime BETWEEN @start_date AND @end_date AND TestResults.testEquipmentID = 3 GROUP BY Parts.itemCode ORDER BY qty DESC;"/>
      <add key ="sumqty_of_tested_models" value ="SELECT COUNT(DISTINCT Parts.serialNumber) AS tested_count FROM [amplio].[dbo].Parts, [amplio].[dbo].TestResults WHERE Parts.partID = TestResults.partID AND TestResults.testGood = 1 AND TestResults.startTime BETWEEN @start_date AND @end_date AND TestResults.testEquipmentID = 3;"/>
      <add key ="quantities_produced_by_line" value ="SELECT COUNT(plid) AS finished FROM prod_plan WHERE line_mes=@line;"/>
      <!--add key="timequery_timer_interval" value= "250"/-->
      <add key="is_weathermaster" value ="true"/>
      <add key="browser_timer_interval" value="600000" />
      <add key="info_timer_interval" value="5000" />
      <add key="temp_low_limit" value="3" />
      <add key="temp_high_limit" value="30" />
      <add key="values_accepted_time" value="60" />
      <add key="debugbox_visible" value="true" />
      <add key="multirepair_visible" value="true" />
      <add key="srs_for_repair_visible" value="false" />
      <add key="serial_enabled" value="false"  />
      <add key="portname" value="COM3"  />
      <add key="red_HI" value="-0,15"  />
      <add key="orange_HI" value="-0,1"  />
      <add key="yellow_HI" value="-0,05"  />
      <add key="darkgreen_HI" value="0"  />
      <!-->add key="temperature_shared_path" value= "K:\RepOnly\Workarea\Databases\"/-->
      <add key="temperature_shared_path" value="C:\Laurastar\" />
      <add key="weather_url"  value="api.openweathermap.org/data/2.5/weather?id=3050594&amp;units=metric&amp;mode=xml&amp;APPID=c111852ee383ccebbd6a7dd872613afc" />
    </appSettings>
</configuration>